@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Удаляем отступы элементов */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Gilroy';
  font-size: 18px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/***********************************************/

.wrapper {
  overflow: hidden;
  min-width: 100%;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100vw;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #828282;
}

@media (max-width: 375px) {

  .menu__body {
    position: fixed;
    padding: 0 15px;  
    width: 100%;
    height: 40%;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    transform: translate(0px, -100%);
    transition: transform .3s linear;
  }

  .menu__body.active {
    transform: translate(0px, 0px);
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menu__list li {
    padding-bottom: 20px;
  }
  .menu__list li:last-child {
    padding-bottom: 0px;
  }

  .menu__icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span {
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .menu__icon span:first-child {
    top: 0px;
  }

  .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }

}

.menu__link {
  color: #828282;
}

/********************************************************/
.promo__row {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: flex-end;
}

.h1 {
  font-size: 47px;
  font-weight: bold;
}

.promo__text:nth-child(2) {
  line-height: 2;
}

.promo__text:last-child {
  writing-mode: vertical-rl;
}


.promo__image {
  display: block;
  width: 100%;
  margin-bottom: 105px;
}
/********************************************************/
.about {
  text-align: center;
  background-color: #F6F6F6;
}

.section__title {
  font-size: 34px;
  padding: 100px 0px 25px;
}

.about__text:nth-of-type(2) {
  margin: 50px 0;
}

.about__text:last-of-type {
  margin-bottom: 100px;
}

/********************************************************/

.skills {
  text-align: center;
  padding-bottom: 100px;
}

.skills__text {
  padding-bottom: 80px;
}

.skills__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 460px) {
  .skills__col {
    width: 45%;
  }
}

.skills__col-text {
  font-size: 14px;
  color: #828282;
  max-width: 165px;
  margin: 20px 0px 40px;
}

.skills__col-stars {
  display: flex;
  justify-content: space-between;
}

.skills__col {
  flex-direction: column;
  padding-bottom: 20px;
}
  
/********************************************************/

.portfolio {
  text-align: center;
  background-color: #f6f6f6;
}

.portfolio__item {
  flex-direction: column;
  margin-bottom: 70px;
}

.portfolio__item-img {
  display: block;
  width: 100%;
  margin-bottom: 45px;
}

.portfolio__item-link {
  color: black;
  text-decoration: underline;
}

/********************************************************/

.footer {
  text-align: center;
  padding-bottom: 100px;
}

.footer-btn {
  max-width: 180px;
  height: 40px;
  display: block;
  margin: 30px auto 85px;
  color: white;
  background-color: black;
  border-radius: 30px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  transition: background-color .2s linear, color .2s linear;
}

.footer-btn:hover {
  color: black;
  background-color: white;
}

.footer__social {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  max-width: 340px;
}